html, body {
	height: 100%;
	margin: 0;
}

#map {
	width: 100%;
	height: 100%;
	background-color: #2c4a6a;
	background-image: url("../img/water.png");
		background-repeat: repeat;
}

.black-lagoon#map {
	background-image: url("../img/water_dark.png");	
}

.button{
  font-size: 1.5em;
} 

.leaflet-control-messagebox {
	display: none; /* Initially hidden */
	border: 1px solid black;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 1px 5px rgba(0,0,0,.65);
	padding: 2px 5px;
}

.search-tooltip {
	max-height: 500px !important;
}